<div class="container margin">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="blue-container rounded-2 text-center">
        <h1 class="text-center mb-4">Weather App</h1>
        <div class="text-center dataContainer mb-4 rounded-2" *ngIf="search">
          <div class="d-flex align-items-center justify-content-center mb-4">
            <img
              [src]="getWeatherIconUrl()"
              *ngIf="showData"
              class="img-fluid"
            />
            <h2>{{ temp }}</h2>
          </div>
          <h5 class="mb-4 description" *ngIf="showData">
            {{ weatherDescription }}
          </h5>
          <div
            class="d-flex align-items-center justify-content-center mb-3"
            *ngIf="showData"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/128/481/481476.png"
              class="weather-icon"
              style="margin-right: 8px"
            />
            <p class="mb-0">{{ wind }} km/h</p>
          </div>
          <div
            class="d-flex align-items-center justify-content-center mb-5"
            *ngIf="showData"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/128/3920/3920689.png"
              class="weather-icon"
              style="margin-right: 8px"
            />
            <p class="mb-0 ml-3">{{ humidity }}%</p>
            <br />
          </div>
        </div>
        <form class="text-center" (ngSubmit)="sendForm()">
          <div>
            <div class="col mb-4">
              <div class="form-group">
                <input
                  type="text"
                  id="location"
                  [(ngModel)]="location"
                  name="location"
                  placeholder="Enter a city"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input
                  type="submit"
                  value="Get Weather"
                  class="btn btn-secondary form-control btn-custom"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
